<body>

<div class="header">
    <a href="{{ url_for('home') }}">
        <button type="button">Home</button>
    </a>

    {% if session.get('user_id') %}

        <a href="{{ url_for('logout') }}">
            <button type="button">Logout</button>
        </a>

    {% else %}
        <a href="{{ url_for('daftar') }}">
            <button type="button">Daftar</button>
        </a>

        <a href="{{ url_for('login') }}">
            <button type="button">Login</button>
        </a>
    {% endif %}
</div>

</body>
