{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Welcome Player 🎮</h2>
<p>Try this quiz!</p>

<form method="POST">
    <p><strong>{{ quiz.question }}</strong></p>
    {% for option in quiz.options %}
        <div>
            <input type="radio" id="{{ option }}" name="option" value="{{ option }}" required>
            <label for="{{ option }}">{{ option }}</label>
        </div>
    {% endfor %}
    <br>
    <button type="submit">Submit</button>
</form>

{% if result %}
    <h3>{{ result }}</h3>
{% endif %}
{% endblock %}
